

h3{
    font-size: 2rem;
    font-weight: 500;
}
.container{
    grid-template-rows: 6rem 90vh;
    grid-template-columns: 22rem calc(100vh - 22rem);

}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header{
    grid-column: 1 / -1;
    background-color: yellow;
    display: flex;
    align-items: center;
}
.header .logo{
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header a img{
    width:6rem;
    height: auto;
}
.header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header nav ul li{
    display: inline-block;
}
.header nav ul li a{
    padding: 1rem;
}
.content{
    margin-top: 10rem;
}

#dailyReport{
    margin-top: 1rem;
}
.file_upload{
    border:1px solid #e6e6e6;
    padding: 2rem;
    margin-top:1rem;
}
.search{
    padding: 1rem;
    display: flex;
    border: 1px solid #e6e6e6;
    margin-bottom: 1rem;

}