.container{
    width: 120rem;
    display: grid;
    grid-template-rows: 3.5rem 80vh 6rem;
    grid-template-columns: [sidebar-start] 25rem [sidebar-end full-start] minmax(2rem,1fr) repeat(8,[col-start] minmax(min-content,12rem) [col-end]) minmax(2rem,1fr)[full-end];
}
.header{
    grid-row: 1 / 1;
    grid-column: sidebar-start / full-end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #e3b00c;
}
.header ul{

    list-style: none;
}
.header ul li{
    display: inline-block;
}
.header ul li a{
    padding-right:1rem;
    border-right: 2px solid #4EB5E6;
    color:white;

}
.header ul li a:last-child {
    padding: 0;
    border:none;
}

.navigation{
    grid-column: sidebar-start / sidebar-end;
    grid-row: 2 / -1;
    background-color: #e3b00c;

}
.content{
    grid-row: 2 / 2;
    grid-column: sidebar-end / -1;
    background-color: #00B16A;
}
.footer{
    grid-row:3 / 3;
    grid-column: sidebar-end / full-end;
    background-color: #4EB5E6;
}
ul{
    list-style: none;
}
ul li a{
    padding: 1rem;

}