
h3 {
    font-size: 2rem;
    font-weight: 500;
}

.container {
    display: grid;
    grid-template-rows: 6rem calc(100vh - 6rem);
    /*grid-template-columns: 22rem calc(100vw - 23rem);*/
    grid-template-columns: 22rem repeat(8,1fr);
    grid-column-gap: 1rem;


}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    grid-column: 1 / -1;
    background-color: #665cac;
    color:#fff;
    display: flex;
    align-items: center;

    border: 1px solid #5236b7;
    box-shadow: 0 0 3px #ccc;
}

.header .logo {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header a img {
    width: 6rem;
    height: auto;
}

.header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header nav ul li {
    display: inline-block;
}

.header nav ul li a {
    padding: 1rem;
    color:#fff;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
    grid-column: 1 / 1;

    background-color: #6b54bd;
}

.sidebar ul li a {
    color: #fff;
    padding: 1rem;
    display: block;

}

.sidebar ul li a i {
    margin-right: .5rem;
}

.sidebar ul li a::after {
    content: '\f105';
    font-family: 'FontAwesome';
    font-weight: 600;
    float: right;
    margin-right: 8px;

}


.sidebar ul li a:hover {
    background-color: #5236b7;

}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.content {
    grid-column: 2 / -1;
 /*   background-color: #f6f6f6;*/
    /*background-color: red;*/
    /*margin-top:1rem;*/
  /*  position: relative;
    margin:0 auto;*/
    border:1px solid rgba(0,0,0,.125);
 /*   padding:1rem;*/
    background: #f7f5ff;

}
.content_header {
    display: flex;
  padding: 0 1rem;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #e8e1ff;
}

.content_header h3 {
    margin-right: auto;
    /* margin-left: 0rem; */
    font-size: 2.3rem;
    font-weight: 500;
    color: #424242;
}
.content_header .current_time{
    display: flex;
    flex-direction: column;


}
.current_time > span{
    text-align: center;
  /*  margin-bottom: 1rem;*/
    font-weight: 500;
}
.content_header .current_time .date_time_clock{
    display: flex;
    justify-content: space-between;
}
.date_time_clock .day_date{
    line-height: 1.7rem;
    margin-right: 2rem;
}
.date_time_clock .clock{
    font-size: 2.4rem;
    color:#424242;
    font-weight: 500;
    align-self: center;
}
.card {
    padding:1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .2308rem;
    background-color: green;
}
.card-header {
    padding: .7692307692rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.card-header span{
    margin-right: 1rem;
}
.card-header span i{
    margin-right: 1rem;
}
.card-header .search{
    display: flex;
}
.search .form-group{
    margin-right: 1rem;
}
.search .form-group label{
    font-size: inherit;
    font-weight: inherit;
    margin-right: 1rem;
}
.card-body{
    padding: 1rem;
    background-color: #fff;
}
.widget{
    /*padding:1rem;*/
    margin:1rem;
    border:1px solid rgba(0,0,0,.125);
}
.widget_header{
    background: #e8e1ff;
    border:1px solid rgba(0,0,0,.125);
    padding:1rem;
}
.widget_content{

    display: flex;
}
.categoryListContainer{
    background: #fff;
    flex: 2;
    padding: 1rem;
    border-radius: 3px;
}

.operation {
    margin-left: 2rem;
    padding: 2rem;
    flex:1;

}
.button-group{
    margin-top:1rem;
    padding:1rem;
}
.btn{
    padding:1rem;
    text-align: center;
    color:#fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
}


#dailyReport {
    margin-top: 1rem;
}

.file_upload {
    border: 1px solid #e6e6e6;
    padding: 2rem;
    margin-top: 1rem;
}

/*
.search {
    padding: 1rem;
    display: flex;
    border: 1px solid #e6e6e6;
    margin-bottom: 1rem;

}*/

/*--------------------------------------------------------------
# Form Group and Element
--------------------------------------------------------------*/
.form-group{
    margin-top: 1rem;
}
.form-group i{

    position: absolute;
    margin-left: -35px;
    padding: 1rem;

}
.btn{
    padding:1rem;
    border:none;
    outline: none;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #252525;
    color:#fff;
    text-align: center;

}
.dataTables_filter {
    position: relative;
    margin-bottom: 1rem;
}

.dataTables_filter input {
    width: 250px;
    height: 32px;
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
    text-indent: 10px;
}

.dataTables_filter .fa-search {
    position: absolute;
    top: 10px;
    left: auto;
    right: 10px;
}
table.dataTable thead th, table.dataTable tfoot th {

    background: #e8e1ff!important;
}
.table_summary{
    background:red;
}