<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head  th:replace="fragments/head::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div th:replace="fragments/header::header"></div>
    <div class="sidebar">
        <ul>
            <li><a href=""><i class="fa fa-home" aria-hidden="true"></i>Dashboard</a></li>
            <li><a href=""><i class="fa fa-bar-chart" aria-hidden="true"></i>Reports</a></li>
            <li><a href=""><i class="fa fa-upload" aria-hidden="true"></i>Uploads</a></li>
            <li><a href=""><i class="fa fa-cog" aria-hidden="true"></i>System</a></li>
        </ul>
    </div>
    <div layout:fragment="content"></div>
</div>

<th:block layout:fragment="scripts">

</th:block>
</body>
</html>