<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header" th:fragment="header" >
   <div class="logo">
       <a href="http://www.spcbl.org.bd/"><img src="images/logo_spcbl.gif" alt="" srcset=""></a>
       <h3>The Security Printing Corporation (Bangladesh) Ltd.</h3>
   </div>
    <nav>
        <ul sec:authorize="isAuthenticated()">
            <!--<div sec:authorize="isAuthenticated()">
                Welcome <b><span sec:authentication="name">Username</span></b>
                &nbsp;
                <i><span sec:authentication="principal.authorities">Roles</span></i>
            </div>-->
            <li ><a href=""><i class="fa fa-user-o" aria-hidden="true"></i> <span sec:authentication="name">Username</span></a></li>
<!--
            <li><a href="javascript:logoutForm.submit()"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out</a></li>
-->
            <li><a href="#" onClick="document.getElementById('logoutForm').submit();"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out</a></li>
        </ul>
        <form id="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input type="submit" value="Logout">
        </form>
    </nav>

</header>
</body>
</html>