<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>The security printing Corporation</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="content" layout:fragment="content">
<div class="card">
    <div class="card-header">
        <span><i class="fa fa-filter" aria-hidden="true"></i>Production Summary</span>
        <div class="search">
            <div class="form-group">
                <label for="from_date">From Date</label>

                <input type='text' id="from_date" name="minDate" autocomplete="off" />
            </div>
            <div class="form-group">
                <label for="to_date">To Date</label>

                <input type='text' id="to_date" name="maxDate"  autocomplete="off" />
            </div>
        </div>

    </div>
    <div class="card-body">
        <table id="dailyReport" class="display" >

            <thead>
            <tr>
                <th>Date</th>
                <th>Machine Name</th>
                <th>Item Name</th>
                <th>Deno</th>

                <th>Daily Printing</th>
                <th>Weakly Target</th>
                <th>Pending</th>
                <th>Machine Status</th>
            </tr>
            </thead>
            <tbody>


            <tr  th:each="production: ${productionlist}">

                <td th:text="${production.date}" />
                <td th:text="${production.mcName}" />
                <td th:text="${production.itemName}" />
                <td th:text="${production.deno}" />

                <td th:text="${production.dprinting}" />
                <td th:text="${production.totalPrinting}" />
                <td th:text="${production.pending}"/>
                <td th:text="${production.machineStatus}" />



            </tr>
            </tbody>

        </table>
    </div>
</div>




</div>

<th:block layout:fragment="scripts">
    <script>
     /*   $(document).ready(function() {
            var table = $('#dailyReport').DataTable();

            alert("hello");
            // Event listener to the two range filtering inputs to redraw on input
            $('#from_date, #to_date').keyup( function() {
                table.draw();

            } );
        })*/
     var minDate, maxDate;

     // Custom filtering function which will search data in column four between two values
     $.fn.dataTable.ext.search.push(
         function( settings, data, dataIndex ) {
             var min = minDate.val();
             var max = maxDate.val();
             var date = new Date( data[0] );

             if (
                 ( min === null && max === null ) ||
                 ( min === null && date <= max ) ||
                 ( min <= date   && max === null ) ||
                 ( min <= date   && date <= max )
             ) {
                 return true;
             }
             return false;
         }
     );

     $(document).ready(function() {
         // Create date inputs
         minDate = new DateTime($('#from_date'), {
             format: 'MMMM Do YYYY'
         });
         maxDate = new DateTime($('#to_date'), {
             format: 'MMMM Do YYYY'
         });



         // DataTables initialisation
         var table = $('#dailyReport').DataTable({
             dom: 'Bfrtip',
             buttons: [
                 'copy', 'csv', 'excel', 'pdf', 'print'
             ]
         });

         // Refilter the table
         $('#from_date, #to_date').on('change', function () {

             table.draw();
         });
     });
    </script>
</th:block>
</body>

</html>
