<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>The Security Printing Corporation (SPCBL)</title>



<body>
<div class="content" layout:fragment="content">
<div class="card">
    <div class="card-header"><span><i class="fa fa-upload" aria-hidden="true"></i>Upload Daily/Weakly Data</span></div>
    <div class="card-body">
        <div class="file_upload">
            <form method="post" th:action="@{/api/excel/daily}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="ddate" class="form-label">Select Date</label>
                    <input type='text' id="ddate" name="ddate" autocomplete="off" />
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <!--<input type='date' id="ddate" name="ddate" autocomplete="off" />-->

                    <!-- <input type='text' id="ddate" name="ddate" class="datepicker-here" data-position="right top" />-->
                </div>

                <div class="form-group">
                    <label for="dFile" class="form-label">Choose Daily Excel</label>
                    <input type="file" name="file" class="" id="dFile">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn">Upload Daily File</button>
                </div>


            </form>
        </div>
        <div class="file_upload">
            <form method="post" th:action="@{/api/excel/weakly}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="ddate" class="form-label">Select Start Date</label>
                    <input type='text' id="sdate" name="sdate" class="datepicker-here" data-position="right top" />
                </div>
                <div class="form-group">
                    <label for="edate" class="form-label">Select End Date</label>
                    <input type='text' id="edate" name="edate" class="datepicker-here" data-position="right top" />
                </div>
                <div class="form-group">
                    <label for="wFile" class="form-label">Choose Weakly Excel</label>
                    <input type="file" name="file" class="" id="wFile">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn">Upload Weakly File</button>
                </div>

            </form>
        </div>
    </div>
</div>

</div>

<th:block layout:fragment="scripts">
    <script>
        /*   $(document).ready(function() {
               var table = $('#dailyReport').DataTable();

               alert("hello");
               // Event listener to the two range filtering inputs to redraw on input
               $('#from_date, #to_date').keyup( function() {
                   table.draw();

               } );
           })*/
        var uploadDate;

        // Custom filtering function which will search data in column four between two values
        /*$.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
                var min = minDate.val();
                var max = maxDate.val();
                var date = new Date( data[0] );

                if (
                    ( min === null && max === null ) ||
                    ( min === null && date <= max ) ||
                    ( min <= date   && max === null ) ||
                    ( min <= date   && date <= max )
                ) {
                    return true;
                }
                return false;
            }
        );*/

        $(document).ready(function() {
            // Create date inputs
            uploadDate = new DateTime($('#ddate'), {
                /*format: 'YYYY-MM-DD'*/
                format: 'DD-MM-YYYY'
               /* format: 'MMMM Do YYYY'*/
            });

          /*  maxDate = new DateTime($('#to_date'), {
                format: 'MMMM Do YYYY'
            });*/



            // DataTables initialisation
           /* var table = $('#dailyReport').DataTable();

            // Refilter the table
            $('#from_date, #to_date').on('change', function () {

                table.draw();
            });*/
          /*  $('#ddate').on('change', function () {

               alert($('#ddate').val());
            });*/
        });
    </script>
</th:block>
</body>
</html>